@media (max-width: 768px) {
    .home {
      flex-direction: column;
    }
  }
  
.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;  
    /* height: fit-content;  */
    background-color: #21201E;
    gap: 0;
}
