.Container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: conic-gradient(from 12.78deg at 28.99% 107.28%, #191817 -17.51deg, #6100C2 175.51deg, #191817 342.49deg, #6100C2 535.51deg);
    width: 100%;
    height: 100vh;
}

/* For screens smaller than 768px (tablets and below) */
@media (max-width: 768px) {
    .Form {
        width: 80%;  /* Make form width flexible */
    }

    .Label {
        font-size: 1.2rem;
    }

    .btn {
        width: 90%; /* Make button take up more space */
    }
}

/* For screens smaller than 576px (large mobile and below) */
@media (max-width: 576px) {
    .Form {
        width: 100%;  /* Full-width form on mobile */
    }

    .Label {
        font-size: 1rem;
    }

    .app-title {
        flex-direction: column;
    }

    .app-logo {
        width: 40px;
        height: 40px;
    }

    .form-input {
        padding: 8px;
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
    }
}

.app-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
    gap: 10px;
}

.app-logo {
    width: 50px;
    height: 50px;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(37, 19, 50);
    width: 20%;
    height: fit-content;
    border: 2px solid #7329bc;
}

.Form > p {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.Form > #forgot-password {
    font-size: 0.9rem;
    text-align: right;
    width: 100%;
}

.Form > p > a {
    color: #ffffff;
    font-weight: bold;
}

.Form > p > a:hover {
    color: #6100C2;
}

.Label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #7329bc;
}

.form-input:focus {
    outline: none;
    border: 1px solid #6100C2;
    box-shadow: 0 0 5px rgba(97, 0, 194, 0.5);
}

.btn {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 17px;
    border: 1px solid #7329bc;
    background-color: #7329bc;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.btn:hover {
    background-color: #6100C2;
}

.btn:active {
    background-color: #6100C2;
}
