@media (max-width: 600px) {
    .reviews {
        grid-template-columns: 1fr; /* Single column on small screens */
    }
}

.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 100%;
    /* height: 90%; */
    height: fit-content;
    /* background-color: aqua; */
    background-color: #21201E;
}

.movie-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    /* background-color: rgb(235, 177, 105); */
    padding-top: 10px;
    width: 70%;
    /* height: 100%; */
    gap: 100px;
    color: #fff;
    height: fit-content;
}

.movie-info > img {
    width: 35%;
    height: 450px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: fit-content;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 5px;
}

.movie-details > p {
    font-family: monospace;
    font-size: 1rem;
    font-weight: 500;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.btns > button {
    width: 30%;
    height: 35px;
    padding: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

.btns > button.active {
    background-color: rgb(113, 255, 255);
}

.add-group {
    display: flex;


    font-weight: bold;
    position: relative;
    cursor: pointer;
}
.add-group-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px;
}

.addIcon {
    width: 20px;
    height: 20px;
}

.groups-options {
    position: absolute;
    display:flex;
    flex-direction: column;
    top: 100%; 
    width: 50%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #353535;
    color: #fff;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    gap: 10px;
}

.groups-item {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: bold;
    padding: 10px;
    background-color: #acacac;
    border-radius: 10px;
    width: 70%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.groupIcon {
    width: 20px;
    height: 20px;
}

.favorite-btn {
    width: 10%;
    height: 10%;
    cursor: pointer;
    color: #fbfbfb;
}

.showtimes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
    width: 70%;

    color: #fff;
    /* background-color: rgb(115, 170, 170); */
}

.dates-btns {
    display: flex;
    flex-direction: row;
    gap: 3px;
    width: 50%;
    border-radius: 20px;
    /* padding-left: 20px; */
    
}

.dates-btns > button {
    width: 100%;
    height: 25px;
    cursor: pointer;
    color: #353131;
    background-color: transparent;
    border: none;
    background-color: rgb(182, 182, 182);
}

.dates-btns > button:first-child {
    border-radius: 20px 0 0 20px;
}

.dates-btns > button:last-child {
    border-radius: 0 20px 20px 0;
}

.dates-btns > button:hover {
    background-color: azure;
}

.dates-btns > button:active {
    background-color: azure;
}

.showtimes > p {
    font-size: 0.8rem;
    font-weight: bold;
}

.theatres {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.theatre {
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: rgb(200, 199, 199);
    border-radius: 20px;
    color: #353131;
    padding: 10px;
}

.theatre > h3 {
    padding-left: 10px;
}

.theatre > .times {
    display: flex;
    flex-direction: row;
}

.times {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.theatre > button {
    width: 10%;
    height: 30px;
    cursor: pointer;
    color: #4f4f4f;
    
}

.theatre > button:hover {
    background-color: #acacac;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
    width: 70%;
    color: #fff;
}

.reviews-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.review-title {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.create-review {
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 5px;
}

.create-review-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.review-input > input::placeholder {
    color: #fff;
}

.review-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
    border-radius: 5px;
    gap: 10px;
    color: #fff;
}

.rateTxt-input {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #545454;
}

.rateNbr-input {
    width: 10%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #545454;
}


.create-review > button {
    width: 10%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #545454;
}

.reviewIcon {
    width: 25px;
    height: 25px;
    color: #fff;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    gap: 20px;
    padding: 20px 0;
    width: 100%;
    color: #fff;
    margin: 0 auto; /* Center the container */
}

.review {
    background-color: rgb(200, 199, 199);
    border-radius: 20px;
    color: #353131;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* WIll fix this more to make it more responsive */
@media (max-width: 700px) {
    .movie-info,
    .showtimes {
      width: 90%;
      flex-direction: column;
      align-items: center;
    }
  
    .movie-info > img {
      width: 100%;
      height: auto;
    }
  }
  